*{
    padding: 0%;
    box-sizing: content-box;
}
@media(min-width:320px){
header .cabecera{
    background-color: darkslategray;
    border-radius: 15px;
}
header nav{
    display:flex;
    justify-content: flex-end;
}
header nav .cabecera{
    width:100%;
    display: inline-flex;
    list-style: none;
    align-items: center;

}
.cabecera .nombre #Mauricio{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80%;
    min-width: 200px;
    padding-left: 10px;
    color: mintcream;
    
}
.cabecera .nombre .celular{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60%;
    color:mintcream;
    margin-bottom: 0px;
    padding-left: 10px;
}
.cabecera .nombre .correo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60%;
    color:mintcream;
    margin-top: 0px;
    padding-left: 10px;
}

.cabecera .foto img{
    width:65%;
    border-radius: 50%;
    margin-left: 20%;
    vertical-align: middle;
    min-width: 30px;
}
/*------------------------------INICIO DE MAIN-----------------------------------*/
main .profesion{
  
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70%;
    font-weight: 600;
}
main hr{
    margin:1%;
}
main .div2{
    margin:auto;
    width:50%;
   
}
main .titulo-descripcion-perfil{
    position: relative;
    top:10px;
    left:7px;
    text-align: left;
    background-color: rgb(103, 138, 138);
    width:max-content;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 18px;
    }
main .descripcion-perfil{
    text-align:justify;
    background-color: rgb(194, 194, 193);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
main .descripcion-perfil p{
    padding: 5px;
    margin:0px;
}
.programador{
    display:flex;
    flex-wrap: wrap;
}
.experiencia, .proyectos{
    width:100%;
    min-width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.descripcion-exp{
    margin: 15px;
    text-align: justify;
}
.descripcion-proyecto{
    margin: 15px;
    text-align: justify;
}
}
/*----------------------------

CAMBIO DE DISPOSITIVO

-----------------------------*/
@media(min-width:375px){
    .cabecera .nombre #Mauricio {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 130%;
        width: 250px;
        padding-left: 10px;
        color: mintcream;
    }
    .cabecera .celular{
        font-size: 95%;
        color:mintcream;
    }
    .cabecera .correo{
        font-size: 95%;
        color:mintcream;
    }
    .cabecera .foto img {
        width: 75%;
        border-radius: 50%;
        margin-left: 10%;
        vertical-align: middle;
        min-width: 30px;
    }
    main .div2{
        margin:auto;
        width:50%;
       
    }
    main .profesion{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 95%;
        font-weight: 600;
    }
    .experiencia, .proyectos{
        width:100%;
        min-width:100%;
    }
}
/*----------------------------

CAMBIO DE DISPOSITIVO

-----------------------------*/
@media(min-width:425px){
    .cabecera .nombre #Mauricio{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 130%;
        min-width: 80%;
        padding-left: 10px;
        color: mintcream;
        
    }
    .cabecera .celular{
        font-size: 95%;
        color:mintcream;
    }
    .cabecera .correo{
        font-size: 95%;
        color:mintcream;
    }


main .profesion{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 95%;
    font-weight: 600;
}
.experiencia, .proyectos{
    width:100%;
    min-width:100%;
}
}
/*----------------------------

CAMBIO DE DISPOSITIVO

-----------------------------*/
@media(min-width:768px){
    .cabecera .nombre{
        min-width: 500px;
    }
    .cabecera .nombre #Mauricio{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 240%;
        width: 140%;
        padding-left: 10px;
        color: mintcream;
    }
    .cabecera .foto img{
        width:55%;
        border-radius: 50%;
        margin-left: 40%;
        vertical-align: middle;
        min-width: 30px;
    }
/*------------------------------INICIO DE MAIN-----------------------------------*/  
main .div2{
    margin:auto;
    width:50%;
   
}  
main .profesion{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    font-weight: 600;
    
}
.experiencia, .proyectos{
    width: 50%;
    min-width:50%;
}
}
/*----------------------------

CAMBIO DE DISPOSITIVO

-----------------------------*/
@media(min-width:1024px){
    .cabecera .nombre{
        width: 80%;
    }
    .cabecera .nombre #Mauricio{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 300%;
        width: 140%;
        padding-left: 10px;
        color: mintcream;
    }
    .cabecera .nombre .celular{
        font-size: 115%;
        color:mintcream;
    }
    .cabecera .nombre .correo{
        font-size: 115%;
        color:mintcream;
    }  
    
    .cabecera .foto img{
        width:35%;
        border-radius: 50%;
        margin-left: 60%;
        vertical-align: middle;
        min-width: 30px;
    }
/*------------------------------INICIO DE MAIN-----------------------------------*/    
main .div2{
    margin:auto;
    width:50%;
   
}
main .profesion{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    font-weight: 600;
    }
}
