*{
    padding: 0%;
}

header .cabecera{
    background-color: darkslategray;
    border-radius: 15px;
}
header nav{
    display:flex;
    justify-content: flex-end;
}
header nav .cabecera{
    width:100%;
    display: inline-flex;
    list-style: none;
    align-items: center;

}
.cabecera .nombre #Mauricio{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80%;
    min-width: 200px;
    padding-left: 10px;
    color: mintcream;
    
}
.cabecera .nombre .celular{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60%;
    color:mintcream;
    margin-bottom: 0px;
    padding-left: 10px;
}
.cabecera .nombre .correo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60%;
    color:mintcream;
    margin-top: 0px;
    padding-left: 10px;
}

.cabecera .foto img{
    width:65%;
    border-radius: 50%;
    margin-left: 20%;
    vertical-align: middle;
    min-width: 30px;
}
@media(min-width:375px){
    .cabecera .nombre{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 90%;
        min-width: 60%;
        padding-left: 10px;
        color: mintcream;
        
    }
    .cabecera .celular{
        font-size: 85%;
        color:mintcream;
    }
    .cabecera  .correo{
        font-size: 85%;
        color:mintcream;
    }
}
@media(min-width:425px){
    .cabecera .nombre{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 130%;
        min-width: 60%;
        padding-left: 10px;
        color: mintcream;
        
    }
    .cabecera .celular{
        font-size: 95%;
        color:mintcream;
    }
    .cabecera .correo{
        font-size: 95%;
        color:mintcream;
    }
}
@media(min-width:600px){
    .cabecera .nombre #Mauricio{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 140%;
        min-width: 60%;
        padding-left: 10px;
        color: mintcream;
    }
    }