*{
    padding: 0%;
    box-sizing: content-box;
}
html{
    background-color: rgb(0,122,122);
}
@media(min-width:320px){
header .cabecera{
    background-color: rgb(0,63,90);
    border-radius: 15px;
    
}
header nav{
    display:flex;
    justify-content: flex-end;
}
header nav .cabecera{
    width:100%;
    display: inline-flex;
    list-style: none;
    align-items: center;

}
.cabecera .nombre #Mauricio{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80%;
    min-width: 200px;
    padding-left: 10px;
    color: rgb(235,217,200);
    
}
.cabecera .nombre .celular{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60%;
    color:rgb(222,102,0);
    margin-bottom: 0px;
    padding-left: 10px;
}
.cabecera .nombre .correo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60%;
    color:rgb(222,102,0);
    margin-top: 0px;
    padding-left: 10px;
}

.cabecera .foto img{
    width:65%;
    border-radius: 50%;
    margin-left: 20%;
    vertical-align: middle;
    min-width: 30px;
}
/*------------------------------INICIO DE MAIN-----------------------------------*/
main .profesion{
  
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70%;
    font-weight: 600;
    color:rgb(235,217,200);
}
main hr{
    margin:1%;
}
main .div2{
    margin:auto;
    width:50%;
   
}


main .descripcion-perfil{
  
    text-align:justify;
    background-color: rgb(235,217,200);
    border-radius: 10px;
    border-style: dashed;
    border-width: 5px;
    border-color: rgb(0,63,90);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
main .descripcion-perfil p{
    padding: 5px;
    margin:0px;
    color: rgb(0,63,90);
}
.programador, .desarrollador-it, .asesor-comercial, .lider-proyectos, .css{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.programador img{
    width:40%;
    margin-left:25%;
}

.experiencia, .experiencia1, .experiencia2, .experiencia3, .experiencia4 {
    width:100%;
    min-width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    /*border-style: solid;
    border-width: 2px;
    border-radius: 20px;*/
    margin-top: 10px;
    border-color: rgb(222,102,0);
    
}
.titulo-exp, .titulo-exp1, .titulo-exp2, .titulo-exp3, .titulo-exp4{
    margin:15px;
    font-weight: 800;
    color:rgb(235,217,200);
    
}
.titulo-proyecto, .desempeno, .desempeno1, .desempeno2, .desempeno3{
    margin:15px;
    font-weight: 600;
    color:rgb(0,63,90);
}
.proyectos, .especificacion, .especificacion1, .especificacion2, .especificacion3{
    width:100%;
    min-width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border-style:dotted;
    border-width: 1px;
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(0,63,90);
    border-color: rgb(222,102,0);
}

.proyecto1, .funciones, .funciones1, .funciones2, .funciones3, .habilidades, .educacion{
    width:97%;
    min-width: 97px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border-style:dotted;
    border-width: 2px;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width:auto;
    background-color: rgb(235,217,200);
    border-color: rgb(222,102,0);
    /*padding:3px auto;
    margin-left:2px;
    margin-right: 1px;*/
}

.proyecto2{
    width:97%;
    min-width: 97px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border-style:dotted;
    border-width: 2px;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width:auto;
    background-color: rgb(235,217,200);
    border-color:rgb(222,102,0);
    /*padding:3px auto;
    margin-left:2px;
    margin-right: 1px;*/
}

.divisoria0, .divisoria1, .divisoria2, .divisoria3, .divisoria4, .divisoria5{
    border-style: double;
    border-width: 5px;
    color:rgb(222,102,0)
    
}
.descripcion-exp, .descripcion-exp1, .descripcion-exp2, .descripcion-exp3, .descripcion-exp4{
    margin: 15px;
    text-align: justify;
    font-style: oblique;
    color: rgb(235,217,200);

}
.descripcion-proyecto, .descripcion-proyecto2, .detalles-motor, .detalles-asesor, .detalles-lider, .detalles-css{
    margin: 15px;
    text-align: justify;
    color: rgb(0,122,122);
}

.habilidades-educacion {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.habilidades, .educacion{
    list-style: square;
    width:80%;
    background-color: rgb(235,217,200);
}
ul, .habilidades1, .habilidades2, .educacion1{
    margin-left: 20px;
    color: rgb(0,122,122);
}
.titulo-habilidades, .titulo-educacion{
    margin-left: 20px;
    font-weight: 800;
    color:rgb(0,63,90);
}

}
/*----------------------------

CAMBIO DE DISPOSITIVO

-----------------------------*/
@media(min-width:375px){
    .cabecera .nombre #Mauricio {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 130%;
        width: 250px;
        padding-left: 10px;
        color: rgb(235,217,200);
    }
    .cabecera .celular{
        font-size: 95%;
        color:rgb(222,102,0);
    }
    .cabecera .correo{
        font-size: 95%;
        color:rgb(222,102,0);
    }
    .cabecera .foto img {
        width: 75%;
        border-radius: 50%;
        margin-left: 10%;
        vertical-align: middle;
        min-width: 30px;
    }
    main .div2{
        margin:auto;
        width:50%;
       
    }
    main .profesion{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 95%;
        font-weight: 600;
    }
    .experiencia, .experiencia1, .experiencia2, .experiencia3, .experiencia4{
    width:100%;
    min-width:100%;
    }
    .proyectos, .especificacion, .especificacion1, .especificacion2, .especificacion3{
        width:100%;
        min-width:100%;
    }
}
/*----------------------------

CAMBIO DE DISPOSITIVO

-----------------------------*/
@media(min-width:425px){
    .cabecera .nombre #Mauricio{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 130%;
        min-width: 80%;
        padding-left: 10px;
        color: rgb(235,217,200);
        
    }
    .cabecera .celular{
        font-size: 95%;
        color:rgb(222,102,0);
    }
    .cabecera .correo{
        font-size: 95%;
        color:rgb(222,102,0);
    }
    main .descripcion-perfil{
        
        margin:0px auto;
        text-align:justify;
        background-color: rgb(235,217,200);
        border-radius: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        width:75%;
    }

  
    main .descripcion-perfil p{
        padding: 5px;
        margin:0px;
        color: rgb(0,63,90);
    }

main .profesion{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 95%;
    font-weight: 600;
}
.experiencia, .experiencia1, .experiencia2, .experiencia3, .experiencia4{
    width:100%;
    min-width:100%;
} 
.proyectos, .especificacion, .especificacion1, .especificacion2, .especificacion3{
    width:100%;
    min-width:100%;
}
}
/*----------------------------

CAMBIO DE DISPOSITIVO

-----------------------------*/
@media(min-width:768px){
    .cabecera .nombre{
        min-width: 500px;
    }
    .cabecera .nombre #Mauricio{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 240%;
        width: 140%;
        padding-left: 10px;
        color: rgb(235,217,200);
    }
    .cabecera .foto img{
        width:55%;
        border-radius: 50%;
        margin-left: 40%;
        vertical-align: middle;
        min-width: 30px;
    }

/*------------------------------INICIO DE MAIN-----------------------------------*/  
main .div2{
    margin:auto;
    width:50%;
   
}  

main .profesion{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    font-weight: 600;
    
}
.programador img{
    width:40%;
    margin-left: 110px;
    margin-top:150px;
}
.experiencia, .experiencia1, .experiencia2, .experiencia3, .experiencia4{
    width: 50%;
    min-width:50%;
}
 .proyectos, .especificacion, .especificacion1, .especificacion2, .especificacion3{
    width: 45%;
    min-width:45%;
}
.proyecto1, .proyecto2, .funciones, .funciones1, .funciones2, .funciones3{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:auto;
}
.habilidades, .educacion{
    list-style: square;
    width:48%;
    margin-left: 15px;
}
.habilidades-educacion {
    flex-wrap: nowrap;
}
}
/*----------------------------

CAMBIO DE DISPOSITIVO

-----------------------------*/
@media(min-width:1024px){
    .cabecera .nombre{
        width: 80%;
    }
    .cabecera .nombre #Mauricio{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 300%;
        width: 140%;
        padding-left: 10px;
        color: rgb(235,217,200);
    }
    .cabecera .nombre .celular{
        font-size: 115%;
        color:rgb(222,102,0);
    }
    .cabecera .nombre .correo{
        font-size: 115%;
        color:rgb(222,102,0);
    }  
    
    .cabecera .foto img{
        width:35%;
        border-radius: 50%;
        margin-left: 60%;
        vertical-align: middle;
        min-width: 30px;
    }
/*------------------------------INICIO DE MAIN-----------------------------------*/    
main .div2{
    margin:auto;
    width:50%;
   
}


    main .descripcion-perfil{
        margin: 0px auto;
        width:55%;
        text-align:justify;
        background-color: rgb(235,217,200);
        border-radius: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
    }
main .profesion{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    font-weight: 600;
    }
    .proyectos, .especificacion, .especificacion1, .especificacion2, .especificacion3{
        width:45%;
        min-width:45%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        border-style:dotted;
        border-width: 1px;
        border-radius: 20px;
        margin-top: 10px;
        text-align: center;
    }  
    .programador img{
        width:30%;
        margin-left: 170px;
        margin-top:100px;
    }  
}


@media(min-width:1440px){
    .programador img{
        width: 20%;
        margin-left: 250px;
        margin-top:40px;
    }  
}

